<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<table>
    <td>Wishlist_id</td><td>name</td><td>user_id</td>
    <tr th:each="list : ${mywishlist}">
        <td th:text="${list.wishlist_id}"></td>

        <td th:text="${list.name}"></td>

        <td th:text="${list.user_id}"></td>

    </tr>

</table>

<td>
    <form action="/" method="get">
        <button type="submit">Logud</button>
    </form>
</td>

<td>
    <form action="/new" method="get">
        <input type="hidden" name= "userid" th:value="${userid2}">
        <button type="submit" >AddList</button>
    </form>
</td>





</body>
</html>