<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />

</head>
<body>

<table class="confirm_delete_table">
<tr>

<td> Title</td><td th:text="${wishlist.name}"></td>
    </tr>
</table>

</tr>

<tr>
    <form action="/delete" method="post">
        <input type="hidden" name="id" th:value="${list2}">
        <button type="submit" class="delete_button"> Delete</button>
    </form>

    <form action="/cancel" method="get">
        <input type="hidden" name="id" th:value="${list2}">
        <button class="cancel_button">Cancel</button>
    </form>

    </tr>

<footer>
    <p>&copy; Teamdream Cloud 2024 </p>
</footer>

</body>
</html>