<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />

</head>
<body>
<h1> Create User</h1>
<table>
    <tr>
        <form action="/create_user" method="post" th:object="${user}">
            <td>Username</td><td><input type="text" th:field="${user.username}"></td>
            <br>
            <td>password</td><td><input type="text" th:field="${user.password}"></td>
            <br>
            <button type="submit">create user</button>
        </form>
        <form action="/" method="get">
            <button>Cancel</button>
        </form>
    </tr>
</table>




</body>
</html>