<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teamleamskyen8</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" media="screen, projection"/>


</head>
<body>


<header>
    <div class="header-container" >
        <img th:class="logo" src="/images/logo.jpg" alt="Logo image">
        <h1>Teamleamskyen8</h1>
    </div>
</header>


<section class="inspiration-section">
    <h3>Let's save your next wish!</h3>
</section>



<p th:text="${message}"> </p>

<span th:if="${message != 'Right!'}">
    <form action="/valid" method="post">
        <div class="form-group">
             <label for="username">Username</label>
             <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit" class="login_button">Login</button>
    </form>

</span>



<table>
    <tr>
        <form action="/create_user" method="get">
            <button type="submit" class="create_user_button">Create user</button>
        </form>
    </tr>

</table>



<footer >
    <p th:class="light-text" >&copy; Teamleamskyen8</p>
</footer>

</body>
</html>