<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<table>
    <tr>
        <form action="/insert" method="post">
            <td>Title</td><td><input type="text" name="title"></td>
            <br>
            <td><input type="hidden" name="userid3" th:value="${userid4}"></td>
            <br>
            <button type="submit">insert</button>
        </form>

        <form action="/ShowList" method="get">
            <button>Cancel</button>
        </form>
    </tr>
</table>
</body>
</html>
