<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Wish</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
    <h1>Add New Wish</h1>
</header>

<div class="new-product-form">
    <form action="/insert" method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
        </div>
        <input type="hidden" name="userid3" th:value="${userid4}">
        <button type="submit" class="insert_button">Insert</button>
    </form>

</div>

<form action="/Showmylist" method="get">
    <input type="hidden" name="id" th:value="${userid4}">
    <button class="cancel_button">Cancel</button>
</form>

<footer>
    <p>&copy; Teamdream Cloud 2024 </p>
</footer>

</body>
</html>
