<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}"></title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<table>
    <tr>
        <td>Name</td><td th:text="${product.name}"></td>
    </tr>
    <tr>
        <td>Description</td><td th:text="${product.description}"></td>
    </tr>
    <tr>
        <td>Price</td><td th:text="${product.price}"></td>
    </tr>
    <tr>
        <td>Amount</td><td th:text="${product.amount}"></td>
    </tr>
</table>

 <form action="/editProduct" method="get">
     <input type="hidden" name="product_id" th:value="${product.product_id}">
     <input type="submit" value="Edit" class="edit_product_button">
 </form>

<form action="/showProducts" method="get">
    <input type="hidden" name="wishlist_id" th:value="${product.wishlist_id}">
    <input type="submit" value="Go back" class="goback_button">
</form>

<footer >
    <p th:class="light-text" >&copy; Teamdream Cloud 2024 </p>
</footer>

</body>
</html>