<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<table>
    <td>user id</td><td>username</td><td>show wish list</td>
    <tr th:each="list : ${Userlist}">
        <td th:text="${list.user_id}"></td>

        <td th:text="${list.username}"></td>



    <td>
        <form action="/Showmylist" method="get">
            <input type="hidden" name="id" th:value="${list.user_id}">
            <button type="submit">Update</button>
        </form>
    </td>
    </tr>
</table>


</body>
</html>